* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-top {
    min-height: 600px;
    background-image: url("./images/desktop/image-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -84px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    position: relative;
    z-index: 10;
}

.nav {
    display: flex;
    gap: 18px;
    align-items: center;
}

.nav-item {
    text-decoration: none;
    color: #fff;
}

.nav-btn {
    border: none;
    border-radius: 20px;
    background-color: #fff;
    padding: 6px 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 10px;
    transition: 0.3s;
}

.nav-btn:hover {
    background-color:hsl(167, 40%, 24%);
}

.title-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top:25%;
}

.title-container h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    letter-spacing: 4px;

}

.arrow-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-menu {
    display: none;
}

.section-transform {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-transform-content {
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 120px;
    padding-right: 80px;
}

.section-transform-image {
    flex:1;
}

.section-transform-content h3 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.section-transform-link {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    /* border-bottom: 20px solid yellow; */
}

@media (max-width: 1000px) {
    .nav {
        display: none;
    }
    .burger-menu {
        display: block;
    }
    .section-transform {
        flex-direction: column;
    }
    .section-transform-content {
        order:2;
    }
    .section-transform-image {
        order:1;
        width: 100%;
    }
    .section-transform-image img {
        max-height: 300px;
        width: 100%;

    }
    .section-transform-content {
        padding: 60px 30px;
        text-align: center;
        gap:20px;
    }
}